# General utilities
tqdm

# Data manipulation and analysis
pandas
numpy
openpyxl
datetime

# Output formatting
tabulate
IPython
python-docx

# Web scraping
requests
beautifulsoup4

# Analysis and machine learning
scikit-learn
statsmodels
scipy

# Visuliazation
matplotlib
plotly
nbformat